<div class="container mt-4">
    <div class="card hero-card" style="background-color: #EAEEEF; border-radius: 40px; overflow: hidden; min-height: 410px;">
        <!-- Fond gris -->
        <div class="row g-2">
            <div class="col-md-6 d-flex flex-column justify-content-center p-5">
                <!-- Description et bouton -->
                <h1 class="card-title sale-title">25% OFF</h1>
                <h1 class="card-title">Summer Sale</h1>
                <p class="card-text">Discover our summer styles with discount</p>
                <!-- Shop Now button -->
                <a href="#" class="btn mt-4">
                    <span class="shop-text">Shop Now</span> <span class="arrow-icon">&rarr;</span>
                </a>
            </div>
            <div class="col-md-6">
                <!-- Image du produit -->
                <img src="assets/img/product1.png" class="img-fluid" alt="Product Image">
            </div>
        </div>
    </div>

    <h2 class="text mb-5">Explore our latest drops</h2>

    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/product01.png" alt="" srcset="">
        </div>
        <div class="col-md-3">
            <img src="assets/img/product02.png" alt="" srcset="">
        </div>
        <div class="col-md-3">
            <img src="assets/img/product03.png" alt="" srcset="">
        </div>
        <div class="col-md-3">
            <img src="assets/img/product04.png" alt="" srcset="">
        </div>
    </div>