<div class="container my-5">
    <div class="row" *ngFor="let product of products; let i = index">
        <!-- Colonne de l'image -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card2 text-center">
                <!-- Image du produit avec coins arrondis personnalisés -->
                <img [src]="product.images[product.currentImageIndex]" alt="Product Image" class="card2-img-top img-fluid rounded-custom">

                <!-- Boutons de navigation en bas de l'image -->
                <div class="mt-2 d-flex justify-content-center align-items-center" style="gap: 200px" id="bout1">
                    <button class="btn btn-outline-dark btn-sm border-0 rounded-custom" (click)="previousImage(i)">
                        <i class="fas fa-chevron-left"></i>
                    </button>

                    <!-- Trait pour l'indice de l'image -->
                    <div class="image-indicator">
                        <span *ngFor="let index of product.images; let j = index" [class.active]="j === product.currentImageIndex">
                        </span>
                    </div>

                    <button class="btn btn-outline-dark btn-sm border-0 rounded-custom" (click)="nextImage(i)" id="bout2">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Colonne des détails du produit -->
        <div class="cart-summary">

            <!-- Détails du produit -->
            <h5 class="card2-title">{{ product.title }}</h5>
            <p class="card2-text">{{ product.description }}</p>
            <h6 class="card2-price">{{ product.price | currency:'$' }}</h6>

            <!-- Trait horizontal sous le prix -->
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin-top: 30px;width: 490px;"></div>

            <!-- Sélection de la quantité -->
            <div class="form-group mt-4">
                <label class="me-2 custom-quantity-text">Quanity </label>
                <div class="input-group mt-3" style="width: 150px; height: 60px; border-radius: 10px; border: 1px solid rgb(224, 216, 216); background-color: #fff;">
                    <!-- Bouton - -->
                    <button class="btn btn-outline-secondary btn-sm rounded-custom" (click)="changeQuantity(i, -1)" type="button" style="border: none; padding: 0.5rem; background: none; font-size: 24px; display: flex; align-items: center;">
                            <i class="bi bi-dash"></i> <!-- Icône "-" -->
                        </button>

                    <!-- Champ de quantité -->
                    <input type="number" [(ngModel)]="product.quantity" class="form-control text-center rounded-custom" min="1" style="width: 50px; padding: 0.5rem; text-align: center; border: none; font-size: 18px; background-color: #ffffff;">

                    <!-- Bouton + -->
                    <button class="btn btn-outline-secondary btn-sm rounded-custom" (click)="changeQuantity(i, 1)" type="button" style="border: none; padding: 0.5rem; background: none; font-size: 24px; display: flex; align-items: center;">
                            <i class="bi bi-plus"></i> <!-- Icône "+" -->
                        </button>
                </div>
            </div>

            <!-- Bouton d'ajout au panier -->
            <div class="d-flex justify-content-center mt-4">
                <button class="btn" (click)="addToCart(product)" style="
                        background-color: rgba(32, 27, 33, 1);
                        color: rgba(255, 255, 255, 1);
                        width: 456px;
                        height: 60px;
                        border-radius: 10px;
                        padding-top: 20px;
                        padding-right: 80px;
                        padding-bottom: 20px;
                        padding-left: 80px;
                        gap: 10px;
                        border: none;
                        font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0px;
                        vertical-align: middle;">
                        Add to Cart
                    </button>
            </div>

        </div>
    </div>
</div>



<div class="container my-5">
    <div class="row" *ngFor="let product of products; let i = index">
        <!-- Colonne de l'image -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card2 ">
                <!-- Image du produit avec coins arrondis personnalisés -->
                <h3 align="left" class="text-title mt-1">Description</h3>
                <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin-top: 10px;width: 635px;"></div>
                <div class="mt2 custom-text">
                    <p class="mt-2 custom-text">Energize your look with a fresh take on heritage adidas style. The adidas Daily 3.0 Shoes cut a classic profile with a modern sued upper. Your walk across campus or commute across town has never looked or felt this good.</p>
                    <ul class="remark-list">
                        <li>Regular fit</li>
                        <li>Lace closure</li>
                        <li>Rubber outsole with vulcanize look</li>
                        <li>Imported</li>
                    </ul>
                </div>

                <!-- Boutons de navigation en bas de l'image -->

            </div>
        </div>

        <!-- Colonne des détails du produit -->
        <div class="col-md-5" style="padding-top: 20px;">
            <img [src]="product.images[product.currentImageIndex]" alt="Product Image" class="card2-img-top img-fluid rounded-custom">

        </div>
    </div>
</div>